.landing-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    gap: 1.5rem;
}

.landing-nav button {
    min-width: 50%;
    font-size: 1rem;
}

.landing-nav button:hover {
    background-color: #1a1a1a;
    transform: translate(-2px);
    transition: all 0.2s ease;
}