/* Default Styles across each page. Editing here will affect all pages. Individual page CSS's can be found in the CSS folder.  */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

button {
    border-radius: 10px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 10px 20px;
    border: 0;
    font-weight: bold;
}

button:hover {
    font-weight: bolder;
    background-color: rgb(0, 0, 88);
    box-shadow: 1px 1px 5px 0 rgba(63, 0, 0, 0.6);
}

button:active {
    text-decoration: underline;
}