<div class="header-content">
    <div class="logo">
        <h1><a href="./index.html">JD's Calcs</a></h1>
    </div>
    <!-- Mobile style nav bar-->
    <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle navigation"
        role="button"><span></span><span></span><span></span></label>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./pages/pc-calc.html">PC Calculator</a></li>
            <li><a href="./pages/norton.html">Norton Pricing</a></li>
            <li><a href="www.harveynorman.com.au">Hardly Normal</a></li>
        </ul>
    </nav>
</div>